.login-page{
  width:100%;
  background-size:contain;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  overflow:hidden;
  object-position: center 10%;
}

.login-overlay{
  width:100%;
  display:flex;
  padding:40px 60px;
  gap:40px;
}

.login-left{
  flex:1;
  display:flex;
  flex-direction:column;
}

.login-logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.login-logo-icon{
  width:50px;
  height:50px;
  background:#1f7a1f;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  color:white;
}

.login-logo h2{
      margin: 0;
    color: #1f7a1f;
    font-size: 30px;
    font-weight: 600;

}

.login-logo p{
  margin:0;
  color:#555;
  font-size:14px;
}

.login-left-content{
  margin-top:30px;
  padding: 0px 20px;
}

.login-left-content h1{
font-size: 42px;
    line-height: 52px;
    margin-bottom: 17px;
    color: #2c1e12;
    font-weight: 600;
    letter-spacing: 1px;
}

.login-left-content h1 span{
  color:#1f7a1f;
}

.login-left-content p{
 width: 520px;
    font-size: 23px;
    line-height: 29px;
    color: #333;
    margin-bottom: 81px;
    font-weight: 600;
}

.login-feature-list{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.login-feature-card{
  width:192px;
  background:rgba(255,255,255,0.92);
  border-radius:18px;
  padding:5px 8px;
  display:flex;
  align-items:center;
  gap:10px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

.login-feature-icon{
  width:55px;
  height:55px;
  border-radius:50%;
  background:#edf8ed;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
}

.login-feature-card h4{
  margin:0;
  font-size:16px;
  color:#222;
}

.login-feature-card p{
  margin:4px 0 0;
  width:auto;
  font-size:10px;
  line-height:20px;
  color:#666;
}

.login-right{
  width:520px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.login-form-card{
  width:100%;
  background:rgba(255,255,255,0.95);
  border-radius:30px;
  padding:25px 45px;
  box-shadow:0 12px 40px rgba(0,0,0,0.15);
}

.login-form-card h2{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:35px;
  margin-bottom:10px;
  color:#145214;
}

.login-form-card h2 img{
  width:35px;
}

.login-subtitle{
  color:#666;
  font-size:18px;
  margin-bottom:35px;
}

.login-input-group{
  margin-bottom:20px;
}

.login-input-group label{
  display:block;
  margin-bottom:10px;
  font-weight:600;
  color:#222;
}

.login-input-wrapper{
  width:100%;
  background:white;
  border:1px solid #ddd;
  border-radius:14px;
  display:flex;
  align-items:center;
  padding:13px 10px;
  gap:12px;
}

.login-input-wrapper img{
  width:12px;
  opacity:0.7;
}

.login-input-wrapper input{
  flex:1;
  border:none;
  outline:none;
  background:none;
  font-size:16px;
}

.login-eye{
  cursor:pointer;
  font-size:15px;
}

.login-forgot{
  text-align:right;
  color:#1f7a1f;
  font-weight:600;
  margin-bottom:22px;
  cursor:pointer;
  font-size: 15px;
}

.login-btn{
  width:100%;
  height:52px;
  border:none;
  border-radius:14px;
  background:#1f7a1f;
  color:white;
  font-size:20px;
  font-weight:700;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:#155d15;
}

.login-divider{
  text-align:center;
  margin:28px 0;
  position:relative;
}

.login-divider::before{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  height:1px;
  background:#ddd;
}

.login-divider span{
  background:rgba(255,255,255,0.95);
  padding:0 15px;
  position:relative;
  color:#666;
}

.google-btn{
  width:100%;
  height:50px;
  border-radius:14px;
  border:1px solid #ddd;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
  font-size:18px;
  font-weight:600;
  cursor:pointer;
}

.google-btn img{
  width:28px;
}

.signup-link{
  text-align:center;
  font-size:17px;
  color:#444;
}

.signup{
  border:none;
  background:none;
  color:#1f7a1f;
  font-weight:700;
  margin-left:6px;
  cursor:pointer;
  font-size:17px;
}

.login-bottom-strip{
  width:100%;
  height:90px;
  background:white;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  border-top:1px solid #eee;
}

.login-bottom-item{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:600;
  color:#1f7a1f;
  font-size:18px;
}

@media(max-width:1100px){

  .login-overlay{
    flex-direction:column;
    padding:30px;
  }

  .login-right{
    width:100%;
  }

  .login-left-content h1{
    font-size:52px;
    line-height:62px;
  }

  .login-left-content p{
    width:100%;
    font-size:22px;
    line-height:35px;
  }

  .login-bottom-strip{
    flex-wrap:wrap;
    height:auto;
    padding:20px;
    gap:15px;
  }
}