.vendor-sidebar-container{
width:250px;
height:100vh;
background:#fff;
border-right:1px solid #e9e9e9;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:20px 16px;
position:sticky;
top:0;
overflow-y:auto;
}


.vendor-sidebar-logo{
    padding-bottom: 16px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    color: green;
}

.vendor-sidebar-logo img{
width:140px;
object-fit:contain;
}


.vendor-sidebar-menu{
display:flex;
flex-direction:column;
gap:5px;
}


.vendor-sidebar-item{

display:flex;
align-items:center;
gap:12px;
padding:12px 14px;
border-radius:10px;
font-size:14px;
font-weight:500;
cursor:pointer;
transition:.3s;
color:#555;

}

.vendor-sidebar-item:hover{

background:#f6f6f6;

}


.vendor-sidebar-active{

background:#eef8ee;
color:#2d8b39;
font-weight:600;

}


.vendor-sidebar-arrow{

margin-left:auto;
transition:.3s;

}

.vendor-sidebar-arrow.open{

transform:rotate(180deg);

}


.vendor-sidebar-submenu{

padding-left:42px;
display:flex;
flex-direction:column;
gap:14px;
padding-top:10px;
padding-bottom:10px;

}

.vendor-sidebar-subitem{

font-size:13px;
color:#777;
cursor:pointer;
transition:.3s;

}

.vendor-sidebar-subitem:hover{

color:#2d8b39;

}


.vendor-sidebar-help-card{

background:#f7faf7;
padding:18px;
border-radius:14px;
margin-top:20px;
margin-bottom:25px;

}

.vendor-sidebar-help-top{

display:flex;
align-items:center;
gap:8px;
font-size:14px;
font-weight:600;
color:#2d8b39;

}

.vendor-sidebar-help-card p{

font-size:12px;
line-height:18px;
color:#777;
margin:12px 0;

}

.vendor-sidebar-help-card button{

width:100%;
height:38px;
border:none;
border-radius:8px;
background:#1b8d2d;
color:#fff;
font-size:13px;
font-weight:600;
cursor:pointer;

}


.vendor-sidebar-logout{

display:flex;
align-items:center;
gap:10px;
padding:12px;
cursor:pointer;
font-size:14px;
color:#ff4d4f;
border-top:1px solid #f1f1f1;

}